/* Header Nav */

.navbar-nav > .dropdown > .dropdown-menu > .dropdown-item button {
  min-width: 100%;
}

/* Authentication Pages */

#login .text-center {
  min-width: 100%;
}

#login form input {
  text-align: center;
}

