/* Header Nav */

.navbar-nav > .dropdown > .dropdown-menu > .dropdown-item button {
  min-width: 100%;
}

/* Authentication Pages */

.auth .text-center {
  min-width: 100%;
}

.auth form input {
  text-align: center;
}

